*,*::before,*::after{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'EB Garamond', serif;
}

.title{
    margin-bottom: 0;
}

.line{
    width: 50px;
    height: 2px;
    margin-bottom: 2.5rem;
    margin-top: 0;
    background-color: #c0c0c0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35%;
    min-width: 250px;
    padding: 1.5em;
    border-radius: .5em;
    box-shadow: 0 0 5px #0004 ;
}

.container__img{
    position: relative;
    width: 130px;
    height: 130px;
    background-image: url(https://res.cloudinary.com/diqqf3eq2/image/upload/v1586883334/person-1_rfzshl.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 5px -5px #c0c0c0 ;
}

.container__img::after{
    position: absolute;
    text-align: center;
    content: '';
    background: url('./icons8-quote-others/icons8-quote-40.png');
    width: 38px;
    height: 38px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 20px;
    background-color:#fff ;
    color: #fff;
    border-radius: 50%;
}

.container__name{
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
}

.container__job{
    font-size: 1em;
    color: #c0c0c0;
    text-transform: capitalize;
}

.container__text{
    text-align: center;
}

.btn{
    font-size: 1.5rem;
    color: #c0c0c0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media (hover:hover){
    .btn:hover{
        color:#7b43b9;
    }
}
